@import-normalize;
/* bring in normalize.css styles */

@font-face {
  font-family: 'Lora500';
  src: local('Lora500'),
    url('./fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
  font-family: inherit;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

body {
  font-family: Lora500;
  margin: 0;
  background-color: #fdf7f2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* global styles */